.center-container {
    width: 608 px;
    margin: 0 auto;
    margin-top: 50 px;
}
table {
    /*property collapses table border into 1 border*/
    border-collapse: collapse;
    border-style: hidden;
}

td {
    /*property changes the cursor to the index finger hand when we hover over td elements*/
    cursor: pointer;
    border: 4 px solid rgba(16, 12, 5, 0.8);
    padding: 0 px;
    width: 200 px;
    height: 200 px;
    filter: contrast(3);
}

canvas {
    /*this property sets the position of our canvas to the top left corner of our container*/
    position: absolute;
    z-index: 10;
    pointer-events: none;
}
h1 {
    text-align: center;
}